<form>
  <md-input-container>
    <img md-prefix src="./_images/person.png"/>
    <label md-prefix>个人</label>
    <input mdInput type="text" placeholder="请输入手机号"/>
    <button type="button" md-suffix md-button>查询</button>
  </md-input-container>
  <md-input-container>
    <img md-prefix src="./_images/area.png"/>
    <label md-prefix>分行</label>
    <input mdInput type="text" placeholder="请选择所属分行"/>
    <button type="button" md-suffix md-button>查询</button>
  </md-input-container>
  <md-input-container>
    <img md-prefix src="_images/team.png"/>
    <label md-prefix>战队</label>
    <input mdInput type="text" placeholder="请选择所属支行"/>
    <button type="button" md-suffix md-button>查询</button>
  </md-input-container>
</form>

<div class="tips">
  <div class="title">
    提示：
  </div>
  <ol class="body">
    <li>排行榜数据次日12:00更新（节假日除外）</li>
    <li>最终奖金和战绩排名按"已得奖金"执行</li>
    <li>您可以通过个人战绩查询界面，生成分享链接</li>
  </ol>
</div>
