@import "../../../styles/common";

:host {
  display: block;
}

.tips {
  display: flex;
  font-size: 12px;
  background: $gray-lighter;
  color: $gray;
  padding: 1em 2em;
  > .title {
    flex: none;
  }
  > .body {
    flex: auto;
    padding: 0 1em;
    margin: 0;
  }
}

md-input-container {
  margin: 0 1em;
}

img {
  height: 1.5em;
  margin-right: 0.5em;
}

label {
  color: $brand-primary;
}
